
.product-view .about {
    position: absolute;
    left: 60px;
    right: 60px;
    top: 220px;
    max-height: 80%;
    overflow-y: auto;
    max-width: 900px;
    margin: auto;
    color: #ffffff;
    background-color: rgba(34,34,34,0.3);
}

.product {
    background-color: #222222;
    position: relative;
    overflow: hidden;
}

.product > .info {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 100%;
    /*background-image: url();*/
    transition: 0.2s;
    background-color: #222222;
    opacity: 0.85;
    color: white;
    /*left: 0;*/
}

.product > .info a {
    text-decoration: none;
    color: inherit;

}

.product > .info .title {
    text-align: center;
    border-bottom: 1px solid #969696;
    padding-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product > .info .description {
    text-align: justify;
    height: 100%;
    overflow: hidden;
    margin-top: 5px;
}

.product:hover > .info .description {
    overflow-y: auto;
}

.product:hover > .info {
    left: 0;
}

.product:hover > .info .title-container {
    height: 80px;
}

.product:hover > .info .description-container {
    height: 50%;
    height: calc(100% - 150px);
}

.product > .info .btn.price-btn {
    height: 60px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #222222;
    border-top-color: #969696;
    border-radius: 0;
    background-color: #ffffff;
    color: #222222;
}

.product > .info .btn.price-btn > .price {
    margin-top: 7px;
}

.fa.fa-header-size {
    font-size: 18px;
    line-height: 20px;
}

.product-view {
    height: 100%;
    padding-top: 50px;
}

.product-view .carousel {
    height: 100%;
    overflow: hidden;
    position: relative;
}

#productInfo {
    position: absolute;
    left: 80px;
    right: 80px;
    top: 60px;
    max-width: 100%;
    background-color: #222222;
    background-color: rgba(34,34,34,0.4);
    color: #ffffff;
    opacity: 0.9;
    max-height: 70%;
    overflow-y: auto;
}

nav.side-nav .side-button.btn {
    background-color: transparent;
    outline: none;
    border-radius: 100%;
    color: inherit;
    text-decoration: none;
}

nav.side-nav .side-button.btn:active {
    box-shadow: none;
}

.product-view .carousel > .carousel-inner > .item {
    width: 100%;
    height: 100%;
}

.product-view .carousel > .carousel-inner > .item > .product-image {
    width: 100%;
    height: 100%;
    background-color: #222222;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.product-view .carousel > ol.carousel-indicators.product-images > li {
    width: 70px;
    height: 70px;
    background-color: #222222;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.45;
    border-radius: 100%;
    transition: opacity 0.5s;
}

.product-view .carousel > ol.carousel-indicators.product-images > li:hover,
.product-view .carousel > ol.carousel-indicators.product-images > li.active {
    opacity: 1;
}

.navbar-default {
    background: none;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    transition: background 0.5s;
    /*color: #222222;*/
}

.navbar-default:hover {
    background: #ffffff;
    background: rgba(255, 255, 255, 1);
}

.navbar .navbar-toggle .icon-bar {
    background-color: #222222;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus {
    border-color: #222222;
    border-radius: 0;
    background: transparent;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #222222;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #969696;
}

.navbar-default .navbar-nav > li > a {
    color: #222222;
}

.navbar-default .navbar-collapse.collapse.in {
    background-color: #ffffff;
}

.modal-content {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

nav.side-nav {
    position: fixed;
    top: 60px;
    left: 20px;
    background: transparent;
    background: rgba(255,255,255,0);
    transition: background 0.5s;
    border-radius: 0;
    padding: 0 10px;
}

nav.side-nav:hover {
    background-color: #ffffff;
}


nav.side-nav .side-button .fa-stack .fa-circle-thin.fa-stack-2x {
    transition: color 0.5s;
}

nav.side-nav .side-button .fa-stack:hover .fa-circle-thin.fa-stack-2x {
    color: #969696;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}

