<form th:action="@{/authorize/facebook}" method="POST" th:fragment="facebookLoginForm"
      class="form-horizontal" xmlns:th="http://www.thymeleaf.org">
    <!--<input type="hidden" name="scope" value="user_posts"/>-->

    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-primary btn-block" type="submit">
                <i class="fa fa-facebook-f pull-left" style="font-size: 20px;"></i>
                <span th:text="#{messages.form.facebookLogin}"></span>
            </button>
        </div>
    </div>
</form>