<nav th:fragment="headerBasic" class="navbar floating" id="header" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <div class="navbar-header">
            <a th:replace="fragments/logo :: logo"></a>
        </div>
    </div>
</nav>