<div xmlns:th="http://www.thymeleaf.org" th:fragment="header"
     th:with="principalDefined=${#httpServletRequest.getUserPrincipal()!=null}">
    <nav class="navbar navbar-default navbar-fixed-top floating" id="header">

        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#myNavbar">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <a th:replace="fragments/logo :: logo"></a>
            </div>



            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a th:href="@{/product}" th:text="#{messages.shop.link}"/>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a th:replace="fragments/cartIcon :: cart"/>
                    </li>
                    <li th:if="${!principalDefined}">
                        <a data-toggle="modal" data-target="#loginModal" href="#"
                           th:text="#{messages.form.loginTitle}"></a>
                    </li>
                    <li class="dropdown"
                        th:if="${principalDefined}"
                        th:with="user=${#httpServletRequest.getUserPrincipal().Principal}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user"></i>
                            <span th:remove="tag" th:text="${user.getUsername()}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">a</a></li>
                            <li><a th:href="@{/logout}" th:text="#{messages.logout}"></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span th:remove="tag" th:text="${#locale}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{?language=lt}">lt</a>
                            </li>
                            <li>
                                <a th:href="@{?language=en}">en</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="loginModal" class="modal fade" role="dialog" th:if="${!principalDefined}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" th:include="login :: loginForm">

                </div>
            </div>
        </div>
    </div>
</div>