<div class="product" xmlns:th="http://www.thymeleaf.org" th:fragment="product">
    <img class="img-responsive"
         th:src="${product.item.previewImageUrl}"/>

    <div class="info">
        <a th:href="@{/product/} + ${product.id}">
            <div class="container-fluid title-container" data-toggle="modal"
                 th:attr="data-target=${'#product'+product.id}">
                <p class="h2 title" th:text="${product.item.name}"></p>
            </div>
            <div class="container-fluid description-container">
                <div class="description">
                    <p th:utext="${#strings.replace(#strings.escapeXml(product.item.description), T(System).getProperty('line.separator'), '&lt;br /&gt;')}">
                    </p>
                </div>
            </div>
        </a>

        <div class="btn price-btn">
            <p class="h1 price">
                <span th:text="${(product.cost - (product.cost*product.discount)) + '&euro;'}"></span>
                <small th:if="${product.discount != null and product.discount > 0}"
                       class="text-muted">
                    <s th:text="${product.cost + '&euro;'}"></s>
                </small>
            </p>
        </div>
    </div>

</div>