<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/3rdParty/style/bootstrap.min.css}"/>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap-notify.min.js}"></script>
</head>
<body>

<div class="container">
    <form action="#" class="form" th:action="@{/items/}" th:object="${item}" method="post">
        <div class="form-group">
            <label class="col-sm-2" for="itemId">ID</label>

            <div class="col-sm-10">
                <input type="text" id="itemId" class="form-control" readonly="true"
                       th:field="*{id}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="itemDate">Date</label>

            <div class="col-sm-10">
                <input type="text" id="itemDate" class="form-control" readonly="true"
                       th:value="${item.creationDate}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="itemName">Name</label>

            <div class="col-sm-10">
                <input type="text" id="itemName" class="form-control"
                       title="Name"
                       th:field="*{name}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="itemImage">Image preview link</label>

            <div class="col-sm-10">
                <input type="text" id="itemImage" class="form-control"
                       title="Image preview link"
                       th:field="*{previewImageUrl}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="itemInstagramLink">Instagram link</label>

            <div class="col-sm-10">
                <input type="text" id="itemInstagramLink" class="form-control"
                       title="Instagram link"
                       th:field="*{instagramLink}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="itemFacebookLink">Facebook link</label>

            <div class="col-sm-10">
                <input type="text" id="itemFacebookLink" class="form-control"
                       title="Facebook link"
                       th:field="*{facebookLink}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="itemTags">Tags</label>

            <textarea type="text" id="itemTags" class="form-control"
                      title="Tags"
                      th:field="*{tags}">
            </textarea>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="itemImages">Image URL's</label>

            <textarea type="text" id="itemImages" class="form-control"
                      title="Image URL's"
                      th:field="*{imageUrls}">
            </textarea>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="itemDescription">Description</label>

            <textarea type="text" id="itemDescription" class="form-control"
                      title="Description"
                      th:field="*{description}">
            </textarea>
        </div>
        <div>
            <a class=" btn btn-default" th:href="@{/items}">Back</a>
            <button type="submit" class=" btn btn-primary">Save</button>
        </div>
    </form>
</div>

</body>
</html>