<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/3rdParty/style/bootstrap.min.css}"/>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap-notify.min.js}"></script>
</head>
<body>

<div class="container">
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#">Products</a></li>
        <li role="presentation"><a th:href="@{/items}">Items</a></li>
        <li role="presentation">
            <a th:href="@{/products/create}">New Product</a>
        </li>
    </ul>
    <hr/>
</div>
<div class="container-fluid">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Active</th>
            <th>Cost</th>
            <th class="hidden-xs">Creation date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td>
                <a th:href="@{/products/{id}(id=${product.id})}">
                    <label th:text="${product.id}"/>
                </a>
            </td>
            <td>
                <label th:text="${product.itemName}"/>
            </td>
            <td >
                <label th:text="${product.active}"/>
            </td>
            <td >
                <label th:text="${product.cost}"/>
            </td>
            <td class="hidden-xs">
                <label th:text="${product.creationDate}"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container" th:if="${totalPages > 1}">
    <label th:each="i : ${#numbers.sequence( 0, totalPages-1)}">
        <a th:href="@{/items/page/{page}(page=${i})}" th:text="${i+1}" th:if="${page != i}"/>
        <label th:text="${i+1}" th:if="${page == i}"/>
    </label>
</div>

</body>
</html>