<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/3rdParty/style/bootstrap.min.css}"/>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap-notify.min.js}"></script>
</head>
<body>

<div class="container">
    <form action="#" class="form" th:action="@{/products/}" th:object="${product}" method="post">
        <div class="form-group">
            <label class="col-sm-2" for="prductId">ID</label>

            <div class="col-sm-10">
                <input type="text" id="prductId" class="form-control" readonly="true"
                       th:field="*{id}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="productCreationDate">Creation date</label>

            <div class="col-sm-10">
                <input type="text" id="productCreationDate" class="form-control" readonly="true"
                       th:value="${product.creationDate}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="productItemId">Item id</label>

            <div class="col-sm-10">
                <select type="checkbox" id="productItemId" class="form-control"
                        th:field="*{itemId}">
                    <option th:each="item : ${items}"
                            th:value="${item.id}"
                            th:text="${item.name + ' : ' + item.id}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="productCost">Cost</label>

            <div class="col-sm-10">
                <input type="number" id="productCost" class="form-control" step="any"
                       title="Cost"
                       th:field="*{cost}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="productDiscount">Discount</label>

            <div class="col-sm-10">
                <input type="number" id="productDiscount" class="form-control"
                       step="any"
                       max="1"
                       min="0"
                       title="Discount from 0 to 1, leave empty if none"
                       th:field="*{discount}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="productStock">Stock</label>

            <div class="col-sm-10">
                <input type="number" id="productStock" class="form-control"
                       title="Stock"
                       th:field="*{stock}">
                </input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="productActive">Active</label>

            <input type="checkbox" id="productActive" class="form-control"
                   th:field="*{active}">
            </input>
        </div>
        <div>
            <a class=" btn btn-default" th:href="@{/products}">Back</a>
            <button type="submit" class=" btn btn-primary">Save</button>
            <a class="pull-right btn btn-primary" th:href="@{/items/{id}(id=${product.itemId})}"
               th:text="${'Edit ' + product.itemName}"
               th:if="${product.itemId}"></a>
        </div>
    </form>
</div>

</body>
</html>