<div xmlns:th="http://www.thymeleaf.org">
    <a th:href="${baseUrl} + 'verification/' + ${verification.token}"
       th:text="#{messages.email.verification.link}">
    </a>

    <div class="container" style="max-width: 600px" th:fragment="signupForm">
        <form name="f" th:action="@{/signup}" th:object="${userCredentials}" method="post" class="form-horizontal">
            <input th:placeholder="#{messages.form.email}" type="text" th:field="*{email}"
                   name="email" id="email" class="form-control"/>
            <input th:placeholder="#{messages.form.name}" type="text" th:field="*{name}"
                   name="name" id="name" class="form-control"/>
            <input type="password" th:placeholder="#{messages.form.password}" th:field="*{password}"
                   id="password" name="password"/>
            <button type="submit" th:text="#{messages.form.signup}"></button>
        </form>
    </div>
</div>