<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<title tiles:fragment="title">Messages : Create</title>-->

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/public/3rdParty/style/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/3rdParty/style/jssocials.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/3rdParty/style/jssocials-theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/3rdParty/style/font-awesome.min.css}"/>
    <script th:src="@{/public/3rdParty/scripts/lib/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap-notify.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/lib/jssocials.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/main.js}"></script>
</head>
<body>


<div th:replace="fragments/headerBasic :: headerBasic"></div>
<div class="row centered-form center-block" style="margin-top: 40px;">
    <div class="container" style="max-width: 600px" th:fragment="loginForm">
        <form name="f" th:action="@{/login}" method="post" class="form-horizontal"
              th:with="username=${#httpServletRequest.getParameter('username')}"
              style="margin-bottom: 0;">
            <fieldset>
                <legend th:text="#{messages.form.loginTitle}"></legend>


                <div th:if="${param.error != null}" class="alert alert-danger">
                    <strong th:text="#{messages.errors.login.badCredentialsHeader}"></strong>
                    <span th:text="#{messages.errors.login.badCredentials}"></span>
                    <hr style="margin: 5px 0;" />
                    <a th:href="@{/resetPassword}+'/'+${username}" th:text="#{messages.form.resetPassword}"></a>
                </div>

                <div class="form-group">
                    <label for="username" class="control-label col-sm-2"
                           th:text="#{messages.form.email}"></label>

                    <div class="col-sm-10">
                        <input type="text" th:placeholder="#{messages.form.email}"
                               id="username" name="username" th:value="${username}"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="control-label col-sm-2"
                           th:text="#{messages.form.password}"></label>

                    <div class="col-sm-10">
                        <input type="password" th:placeholder="#{messages.form.password}"
                               id="password" name="password" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-block btn-primary"
                                th:text="#{messages.form.login}"></button>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-block btn-primary"
                           th:href="@{/signup}" th:text="#{messages.form.signup}"></a>
                    </div>
                </div>
            </fieldset>
        </form>

        <form th:replace="fragments/facebookLoginForm :: facebookLoginForm">
        </form>

    </div>
</div>
</body>
</html>