<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/public/3rdParty/style/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/public/3rdParty/style/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/style/main.css}"/>
    <script th:src="@{/public/3rdParty/scripts/lib/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap-notify.min.js}"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>


<div class="container-fluid" style="padding: 0; position: relative;">
    <div class="product-view">
        <div id="main-carousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li th:each="image, i : ${carousel}"
                    data-target="#main-carousel"
                    th:attr="data-slide-to=${i.index}"
                    th:class="${i.index == 0 ? 'active' : ''}"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div th:each="image, i : ${carousel}"
                     th:class="${i.index == 0 ? 'active item' : 'item'}">
                    <div class="product-image"
                         th:style="${'background-image: url('+image.value+')'}"/>
                </div>
            </div>

        </div>

        <div class="about">
            <div class="container-fluid">
                <p class="h1">
                    Welcome to semihuman
                </p>

                <p class="h4">
                    Semihuman is blah blah blah blah blah <br/><br/>
                    asda fdsf sdf sfd fds <br/>sadsa
                    <br/>dsfsdfdfkgjdfjkghdfkjgkjdfjgkjdfjgkjdfjkgjdfjkjgdfkjgjnkjdfjgkjdfg
                    <br/>gfkdklg jkg jkj gdfklj jgkj jnkjf n kj<br/>
                    fdblah blah blah blah blah <br/><br/>
                    asda fdsf sdf sfd fds <br/>sadsa
                    <br/>dsfsdfdfkgjdfjkghdfkjgkjdfjgkjdfjgkjdfjkgjdfjkjgdfkjgjnkjdfjgkjdfg
                    <br/>gfkdklg jkg jkj gdfklj jgkj jnkjf n kj<br/>
                    fdblah blah blah blah blah <br/><br/>
                </p>

                <p class="h1">Contact us</p>


                <p class="h4">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <span>semiohina@gmail.what</span>
                </p>

                <p class="h4">
                    <a href="https://www.facebook.com/semihumanhere/?fref=ts"
                       style="text-decoration: none;color: inherit;">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        <span>Facebook</span>
                    </a>
                </p>

                <p class="h4">
                    <a href="https://www.instagram.com/semihuman_here/2"
                       style="text-decoration: none;color: inherit;">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <span>Instagram</span>
                    </a>
                </p>
            </div>
        </div>

    </div>

</div>


<script th:replace="fragments/messages :: messages">
</script>


</body>
</html>