<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/public/3rdParty/style/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/public/3rdParty/style/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/style/main.css}"/>
    <script th:src="@{/public/3rdParty/scripts/lib/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap-notify.min.js}"></script>
</head>
<body>


<div th:replace="fragments/header :: header"></div>

<div class="container" style="padding: 0; max-width: 900px; position: relative;">
    <div class="product-view">
        <div id="product-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators product-images"
                th:if="${product.item.imageUrls != null and product.item.imageUrls.size() > 0}">
                <li th:style="${'background-image: url('+product.item.previewImageUrl+')'}"
                    data-target="#product-carousel" data-slide-to="0" class="active"></li>
                <li th:each="image,iter : ${product.item.imageUrls}"
                    th:style="${'background-image: url('+image+')'}"
                    data-target="#product-carousel" th:attr="data-slide-to=${iter.index+1}"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="product-image"
                         th:style="${'background-image: url('+product.item.previewImageUrl+')'}"/>
                </div>
                <div class="item" th:each="image : ${product.item.imageUrls}">
                    <!--<img class="img-responsive" th:src="${image}"/>-->
                    <div class="product-image" th:style="${'background-image: url('+image+')'}"/>
                </div>
            </div>

        </div>
    </div>

    <div id="productInfo" class="info collapse">
        <div class="container-fluid" style="padding-top: 20px;">
            <div class="h1" th:text="${product.item.name}"></div>
            <section>
                <div class="h3" th:utext="${#strings.replace(#strings.escapeXml(product.item.description), T(System).getProperty('line.separator'), '&lt;br /&gt;')}"></div>
            </section>
            <section  th:if="${product.active}">
                <div class="h3">
                    <span th:text="#{messages.product.price} + ${' : ' + (product.cost - (product.cost*product.discount)) + '&euro;'}"></span>
                    <small th:if="${product.discount != null and product.discount > 0}">
                        <s style="color: #eee" th:text="${product.cost + '&euro;'}"></s>
                    </small>
                </div>
                <div class="h3" th:if="${product.stock &lt; 20}">
                    <span th:text="#{messages.product.stock} + ${': ' + product.stock  }"/>
                </div>
                <div class="h3" th:if="${product.stock >= 20}">
                    <span th:text="#{messages.product.stock} + ${': 20+'}"/>
                </div>
            </section>
        </div>
    </div>
</div>


<nav class="side-nav">

    <div class="row" data-toggle="collapse" data-target="#productInfo">
        <button class="btn product-info-toggle side-button">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-info fa-stack-1x"></i>
        </span>
        </button>
    </div>
    <div class="row" th:if="${product.active and product.stock > 0}">
        <button class="btn side-button" th:title="${product.cost  + '&euro;'}">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-shopping-cart fa-stack-1x"></i>
        </span>
        </button>
    </div>
    <div class="row"
         th:if="${product.item.externalLinks != null and product.item.externalLinks['Instagram'] != null}">
        <a class="btn side-button" target="_blank"
           th:href="${product.item.externalLinks['Instagram']}">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="row"
         th:if="${product.item.externalLinks != null and product.item.externalLinks['Facebook'] != null}">
        <a class="btn side-button" target="_blank"
           th:href="${product.item.externalLinks['Facebook']}">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
        </a>
    </div>
</nav>

</body>
</html>