<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/public/3rdParty/style/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/public/3rdParty/style/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/style/main.css}"/>
    <script th:src="@{/public/3rdParty/scripts/lib/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap-notify.min.js}"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<!--TODO-->
<div class="container" style="margin-top: 50px;">
    <div class="col-xs-6 col-md-4 col-lg-3" th:each="product : ${products}" style="padding-top:
    30px;">
        <div th:replace="fragments/productTile :: product(product=${product})"></div>
    </div>
</div>

<script th:replace="fragments/messages :: messages">
</script>


</body>
</html>