<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<title tiles:fragment="title">Messages : Create</title>-->

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/public/3rdParty/style/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/3rdParty/style/jssocials.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/3rdParty/style/jssocials-theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/3rdParty/style/font-awesome.min.css}"/>
    <script th:src="@{/public/3rdParty/scripts/lib/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/lib/bootstrap-notify.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/lib/jssocials.min.js}"></script>
    <script th:src="@{/public/3rdParty/scripts/main.js}"></script>
</head>
<body>

<div th:replace="fragments/headerBasic :: headerBasic"></div>

<div class="row centered-form center-block" style="margin-top: 40px;">

    <div class="container" style="max-width: 600px" th:fragment="signupForm">
        <form name="f" th:action="@{/signup}" th:object="${userCredentials}" method="post" class="form-horizontal">
            <fieldset>
                <legend th:text="#{messages.form.signupTitle}"></legend>

                <div class="form-group">
                    <label for="email" class="control-label col-sm-2"
                           th:text="#{messages.form.email}"></label>

                    <div class="col-sm-10">
                        <input th:placeholder="#{messages.form.email}" type="text" th:field="*{email}"
                               name="email" id="email" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="control-label col-sm-2"
                           th:text="#{messages.form.name}"></label>

                    <div class="col-sm-10">
                        <input th:placeholder="#{messages.form.name}" type="text" th:field="*{name}"
                               name="name" id="name" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="control-label col-sm-2"
                           th:text="#{messages.form.password}"></label>

                    <div class="col-sm-10">
                        <input type="password" th:placeholder="#{messages.form.password}" th:field="*{password}"
                               id="password" name="password" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-block btn-primary"
                                th:text="#{messages.form.signup}"></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>